﻿@model DemoProject.Application.Contracts.Product

@{
    ViewData["Title"] = "Add new Product";
}

<h2>@ViewData["Title"]</h2>

<div id="confirmDialog" title="Save Student" hidden>
    <p>You entered price higher than 999,-</p>
    <p>Are you sure you want to save it?</p>
</div>


<form asp-action="Add" enctype="multipart/form-data" id="addProductForm">
    <div class="form-horizontal">
        <hr />

        @* Replacing classic Validation Summary to Custom ViewComponent as TagHelper *@
        <vc:summary />

        <div class="form-group">
            <label asp-for="Code" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Photo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Photo" type="file" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
                <span>Max file size 28.6MiB</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="btnAdd" value="Add" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </div>
        </div>
    </div>
</form>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        $("#btnAdd").click(function (e) {
            if ($("#Code-error").val() === undefined && $("#Name-error").val() === undefined && $("#Price-error").val() === undefined && $("#Price").val() > 999) {
                e.preventDefault();
                $("#confirmDialog").dialog("open");
            }
        });

        $("#confirmDialog").dialog({
            autoOpen: false,
            modal: true,
            resizable: false,
            buttons: {
                "Ok": function() {
                    $("#addProductForm").submit();
                },
                "Cancel": function(e) {
                    $(this).dialog("close");
                }
            }
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}